<% if @current_user.orders_by_status(op_status).any? %>
  <% @current_user.orders_by_status(op_status).each do |op| %>
    <article class="cart card">
      <div class="row">
        <img src="https://vignette.wikia.nocookie.net/aceattorney/images/f/f7/Missile_AAI.png/revision/latest?cb=20180304065441" alt="Product" class="col-sm card-img">
        <div class="col-sm-8 card-body">
          <div>
            <h5 class="cart card-title"><%= op.product.name %></h5>
            <section class="card-text">
              <p><%= "Price: #{format_money(op.product.price)}" %></p>
              <p><%= "Quantity: #{op.quantity}" %></p>
              <p><%= "Subtotal: #{format_money(op.subtotal)}" %></p>
              <p><strong><%= "Status: #{op.status.titleize}" %></strong></p>
            </section>
          </div>
        </div>
      </div>
      <div class="card-footer no-gutters cart-item-actions">
        <% unless op.status == "shipped" %>
          <%= link_to "Cancel this product order", order_product_path(op.id), method: :delete, class: "btn btn-outline-danger", data: { confirm: "Are you sure?"} %>
        <% else %>
          <%= link_to "Write a review", product_path(op.product.id), method: :get, class: "btn btn-primary" %>
        <% end %>
      </div>
    </article>
  <% end %>
<% else %>
  <%= "No #{op_status} orders." %>
<% end %>
