<h1>Account Information</h1>

<%= form_with model: @current_user, local: true do |f|%>
  <section class="form-group">    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </section>

  <section class="form-group">    <%= f.label "EMail" %>
    <%= f.text_field :email, class: "form-control" %>
  </section>

  <section class="form-group">    <%= f.label :address%>
    <%= f.text_field :address, class: "form-control" %>
  </section>

  <section class="form-group">    <%= f.label "Billing Zip Code" %>
    <%= f.text_field :bill_zip, class: "form-control" %>
  </section>

  <section class="form-group">    <%= f.label "Credit Card Number" %>
    <%= f.text_field :cc_num, class: "form-control" %>
  </section>

  <section class="form-group">    <%= f.label "Credit Card Expiration Date" %>
    <%= f.text_field :cc_exp, class: "form-control" %>
  </section>

  <section class="form-group">
    <%= f.label "Credit Card CSV Number" %>
    <%= f.text_field :cc_csv, class: "form-control" %>
  </section>

  <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>
