<h2>This is the shopping cart!</h2>
<section class="cart card-group">
  <% if @current_order %>
    <% @current_order.order_products.each do |op| %>
      <article class="cart card">
        <div class="row no-gutters">
          <div class="col-auto">
            <img src="https://vignette.wikia.nocookie.net/aceattorney/images/f/f7/Missile_AAI.png/revision/latest?cb=20180304065441" alt="Product" height="100px">
          </div>
          <div class="col">
            <div class="card-block px-2">
              <h5 class="card-title"><%= op.product.name %></h5>
              <section class="card-text">
                <p><%= "Price: #{op.product.price}" %></p>
                <p><%= "Quantity: #{op.quantity}" %></p>
                <p><%= "Subtotal: #{op.subtotal}" %></p>
              </section>
            </div>
          </div>
        </div>
        <div class="card-footer w-100 text-muted">
          <%= render partial: "order_products/form", locals: { button_title: "Update", op_id: op.id, product_id: op.product_id } %>
          <%= link_to "Delete", order_product_path(op.id), method: :delete, class: "btn btn-danger" %>
        </div>
      </article>
    <% end %>
    <article>
      Total: <%= @current_order.total %>
      <%= link_to "Checkout", checkout_path, method: :get, class: "btn btn-info" %>
    </article>
  <% else %>
    <p>Nothing here yet... go shopping!</p>
  <% end %>
</section>
