<article class="main-content container-fluid">
  <div class="row">
    <nav class="col-sm">
      <ul>
        <li><%= link_to "All Products", products_path%></li>
        <% if @current_user.is_a_merchant? %>
          <li><%= link_to "Add New Category", new_category_path%></li>
          <li><%= link_to "Add New Product", new_product_path%></li>
        <%end%>
      </ul>

      <h6>Shop by Category</h6>
      <ul>
      <% Category.all.each do |category|%>
         <li><%= link_to "#{category.name.titleize}", bycategory_path(category.id) %></li>
      <%end%>
      </ul>

      <h6>Shop by Merchant</h6>
      <ul>
      <% Merchant.all.each do |merchant|%>
         <li><%= link_to "#{merchant.name.titleize}", bymerchant_path(merchant.id) %></li>
      <%end%>
      </ul>
    </nav>

    <section class="col-sm-9">
      <div class="card-columns">
        <% product_list.each do |product|%>
          <div class="card">
            <img src="https://vignette.wikia.nocookie.net/aceattorney/images/f/f7/Missile_AAI.png/revision/latest?cb=20180304065441" alt="Product" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"><%= link_to "#{product.name}", product_path(product.id) %></h5>
              <div class="card-text">
                Sold by: <%= link_to "#{product.user.name}", bymerchant_path(product.user.id) %><br>
                <%= "#{format_money(product.price)}" %><br>
                Star review here?
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</article>
