<h6>List of Products by Merchant</h6>

<nav>
  <ul>
    <li><%= link_to "All Products", products_path%></li>
    <% if @current_user && @current_user.type == "Merchant"%>
      <li><%= link_to "Add New Category", new_category_path%></li>
      <li><%= link_to "Add New Product", new_user_product_path(@current_user.id)%> </li>
    <%end%>
  </ul>
  <h6>Merchant</h6>
  <ul>
  <% Merchant.all.each do |merchant|%>
     <li><%= link_to "#{merchant.name}", bymerchant_path(merchant.id) %></li>
  <%end%>
  </ul>
</nav>

<h6><%="#{@merchant_selected.name}"%></h6>

<% @products_by_merchant.each do |prod|%>
  <secion class="product_list">
  <table class="table-striped">
    <thead>
       <tr>
         <th>Product Name</th>
         <th>Seller</th>
         <th>Price</th>
         <th>Review</th>
       </tr>
     </thead>
      <tbody>
          <tr>
            <td><%= link_to "#{prod.name}", product_path(prod.id) %></td>
            <td><%= link_to "#{prod.user.name}", user_path(prod.user.id) %></td>
            <td><%= prod.price %></td>
            <td></td>
          </tr>
      </tbody>
   </table>
  </secion>
<%end%>
