<h2>List of Products</h2>

<nav>
  <% if @current_user %>
    <ul>
      <li><%= link_to "Add New Category", new_category_path%></li>
      <li><%= link_to "Add New Product", new_user_product_path(@current_user.id)%> </li>
    </ul>
  <%end%>
</nav>

<section >
    <table >
      <thead>
        <tr>
          <th>Name</th>
          <th>Seller</th>
          <th>Created at</th>
          <th>Retire Product></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product|%>
          <tr>
            <td><%= link_to "#{product.name}", product_path(product.id) %></td>
            <td><%= product.user %></td>
            <td><%= product.created_at %></td>
            <td><%= link_to "Retire Product", product_path(product.id), method: :patch%></td>
          </tr>
        <%end%>
      </tbody>
   </table>

</section>
