<h2>Product Details: <%= @product.name %></h2>

<nav>
  <% if @current_user && @current_user.id == @product.user_id%>
    <ul>
      <li><%= link_to "Edit product", edit_product_path(@product.id), method: :get %></li>
      <li><%= link_to "Retire prodcut", retire_path(@product.id), method: :patch, data: { confirm: "Are you sure?"}%></li>
    </ul>
  <%end%>
</nav>

<p>Categories:</p>
<ul>
  <% @product.categories.each do |cat| %>
    <li>
      <%= cat.name %>
    </li>
  <% end %>
</ul>

<p>Description: <%= @product.description%> </p>
<p>Merchant: <%= @product.user.name%> </p>
<p>Price: <%= @product.price%> </p>
<p>Quantity available: <%= @product.stock%> </p>
<p>status: <%= @product.status%> </p>

<%if @product.stock > 0 && @cuurent_user != @product.user%>
  <% if @op %>
    <%= render partial: "order_products/form", locals: { button_title: "Update cart", op: @op, product_id: @product.id } %>
  <% else %>
    <%= render partial: "order_products/form", locals: { button_title: "Add to cart", op: @current_order.order_products.new, product_id: @product.id } %>
  <% end %>

<%end%>

<!-- <%#if @product.user != @cuurent_user %>
  <p><%=# link_to "Write a review", new_review_path%></p>
<%#end%> -->
