<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <% if current_user %>
          <li><%= link_to "Log out #{@current_user.name}", logout_path, method: 'delete'  %></li>
        <% else %>
          <li><%= link_to "Login with Github", "/auth/github" %></li>
        <% end %>
        <li><%= link_to "View products", products_path %></li>
        <li><%= link_to "Cart", cart_path %></li>
      </ul>
    </nav>
    <main>
      <section class="alert__container">
        <%flash.each do |name, message|%>
          <% if message.class == Array %>
            <%message.each do |msg|%>
              <div class="alert alert-<%= name %>" role="alert">
              <strong> <%= "#{name}:" %> </strong> <%= " #{msg}"%>
              </div>
            <%end%>
          <%else%>
            <div class="alert alert-<%= name %>" role="alert">
               <%= message %>
            </div>
          <%end%>
        <%end%>
      </section>
      <%= yield %>
    </main>
  </body>
</html>
